<header class="container">
    <h1><a href="/">软件项目监控系统</a></h1>
    {{#if username}}
    <ul class="pull-right">
        <li>欢迎回来 {{username}}</li>
        <li><a href="/signout">登出</a></li>
    </ul>
    {{/if}}
</header>
